@keyframes openKeypad {
    from {
        opacity: 0;
        margin-left: -300px;
    }
 
    to {
        opacity: 1;
        margin-left: 0px;    
    }
}


@keyframes fadein {
    from {
        opacity: 0;
    }
 
    to {
        opacity: 1;
    }
}



.keypad {
    padding-bottom: 15px;
    width: 225px;
    border-radius: 15px;
    font-family: "SF-Pro-Text-Bold";

    animation-duration: 600ms;
    animation-name: openKeypad;
}

.keypad-row {
    display: flex;
    justify-content: center;
}

.keypad-header {
    height: 20px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.keypad-number {
    text-align: center;
    vertical-align: middle;
    font-size: 22.5px;
    color: #fff;
    font-family: "SF-Pro-Text-Semibold";
    animation-duration: 400ms;
    animation-name: fadein;
}

.keypad-addnumber {
    text-align: center;
    vertical-align: middle;
    font-family: "SF-Pro-Text-Regular";
    font-size: 12px;
    color: #2e88e2;
    transition-duration: 300ms;
    margin-bottom: 10px;

    animation-duration: 400ms;
    animation-name: fadein;
}

.keypad-addnumber:hover {
    opacity: 0.7;
    cursor: pointer;
}

.keypad-btn {
    height: 50px;
    width: 50px;
    padding: 5px;
    padding-top: 7.5px;
    margin: 6px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    color: #fff;
    transition-duration: 250ms;

    font-size: 20px;
    font-family: "SF-Pro-Text-Bold";
    font-weight: 800;
}

.keypad-btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    cursor: pointer;
    fill: #000;
}

#call-btn {
    background-color: #63c366;
    border: 1px solid #63c366;

    background-color: rgb(103, 206, 103);
    box-shadow: 0 0px 10px rgba(103, 206, 103, 0.5);
    
    fill: white;
    margin-left: 60px;
    transition-duration: 250ms;
}

#call-btn:hover {
    background-color: rgb(47, 170, 51);
    border: 1px solid rgb(47, 170, 51);
    box-shadow: 0 0px 10px rgba(47, 170, 51, 0.5);
}

#call-icon {
    width: 20px;
    margin-top: 7.5px;
    margin-left: 10px;
}

.keypad-letters {
    margin-top: -3px;
    font-size: 7px;
    font-family: "SF-Pro-Text-Bold";
    letter-spacing: -0.3px;
}

#asterisk {
    font-size: 35px;
    font-weight: 100;
    vertical-align: middle;
    line-height: 45px;
}

#plus {
    margin-top: -6px;
    font-size: 10px;
    font-weight: bolder;
}

#sharp-icon {
    width: 15px;
    height: 15px;
    margin-left: 12px;
    margin-top: 5px;
    fill: #fff;
}


#delete-icon {
    fill: #e5e5e5;
    width: 20px;
    margin-top: 10px;
    height: 25px;
    transition-duration: 250ms;
}

#delete-icon:hover  {
    fill: #919191;

    cursor: pointer;
}

#keypad-delete {
    margin: 8px;
    padding: 5px;
    padding-right: 30px;
    width: 20px;
}