
.hud {
   
    width: 210px;
    border-radius: 15px;
    color: #fff;
    font-family: "SF-Pro-Text-Semibold";
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.hud-content {
    margin-top: 5px;
    height: 9px;
    width: 100%;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.15);

}

.hud-food {
    height: 9px;
    width: 30%;
    border-radius: 10px;

    background-color: rgb(103, 206, 103);
    box-shadow: 0 0px 10px rgba(103, 206, 103, 0.5);
    border: 1px solid rgb(103, 206, 103, 0.1);
}


.hud-wird {
    height: 9px;
    width: 40%;
    border-radius: 10px;

    background-color: #1977db;
    box-shadow: 0 0px 10px #1ec24785;
    border: 1px solid #1ec2472d;
}
