* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

section {
   position: relative;
   min-height: 100vh;
   
   /* background: #881a92fd; */
   overflow: hidden;
}


@keyframes openAll {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.box-t {
   background: rgba(255, 255, 255, 0.15);
   box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
   border: 1px solid rgb(255, 255, 255, 0.1);
   z-index: 10;
}

.left-container {
   position: absolute;
   left: 20px;
   top: 45px;
}

.right-container {
   position: absolute;
   right: 15px;
   top: 45px;
}