.inventory {
    position: absolute; 

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;

    border-radius: 21.67px;
    margin-top: 7.5%;

    
    font-family: "SF-Pro-Text-Bold";
    color: #fff;    
}

.inventory-e1 {
    width: 40%;
    height: 100vh;

    display: flex; 
    flex-direction: column;
    align-items: center;

    font-size: 22px;
    padding-top: 5%;
}

.inventory-e2 {
    width: 57.5%;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    padding-top: 5%;
}

.object {
    height: 55px;
    width: 77.5%;
    border-radius: 21.67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    font-family: "SF-Pro-Text-Semibold";
    font-size: 16px;
    margin-bottom: 10px;
    transition-duration: 330ms;
}

.actions {
    height: 55px;
    width: 70%;
    border-radius: 21.67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 15px;

    font-family: "SF-Pro-Text-Semibold";
    font-size: 16px;
    margin-bottom: 10px;
    transition-duration: 330ms;
}

.object:hover {
    background-color: #fff; color: #000;
}

.object-icon {
    height: 32.5px;
    margin-right: 12.5px;
}

.object-count {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25px;
    padding: 0 7.5px;

    border-radius: 7.5px;
    background-color: rgba(0, 0, 0, 0.10);

    font-family: "SF-Pro-Text-Semibold";
    font-size: 13px;
}

.items-container {
    display: block;
}

.item {
    display: inline-block;
    height: 120px;
    width: 115px;
    margin: 5px 5px;
    border-radius: 21.67px;
    transition-duration: 330ms;
}

.item:hover {
    background-color: #fff; color: #000;
}

.item-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;

}

.item-icon {
    height: 45px;
    width: 45px;
}

.item-count {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25px;
    padding: 0 7.5px;

    border-radius: 7.5px;
    background-color: rgba(0, 0, 0, 0.10);

    font-family: "SF-Pro-Text-Semibold";
    font-size: 13px;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80px;

}

.user {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    margin-bottom: 5px;
}

.user-icon {
    margin: 0;
    fill: #9da3b0;
}

.user-name {
    font-size: 15px;
    font-family: "SF-Pro-Text-Semibold";

}